auth:
  admin:
    password: s+?ksi7whl
    token: s+?ksi7whl
  user:
    password: s+?ksi7whl
  readUser:
    password: s+?ksi7whl
  writeUser:
    password: s+?ksi7whl

influxdb:
  securityContext:
    enabled: false
