envs:
  config:
    KAFKA_CLUSTERS_0_NAME: sixsense
    KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: sixsense-kafka-bootstrap:9092
    KAFKA_CLUSTERS_0_ZOOKEEPER: sixsense-zookeeper-client:2181
    KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://apicurio-registry-apicurio-registry:8080/apis/ccompat/v6